*{margin: 0;padding:0;box-sizing: border-box;}
body{
	height: 100vh;
	background: linear-gradient(.45deg,#FF0078,#F6EFA7);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
}
.location,.temp{
	height: 30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.temp{
	flex-direction: column;
}
.degree-section{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.degree-section span{
	margin:10px;
	font-size: 30px;
}
.degree-section h2{
	font-size: 48px;
}